<%- include('header'); -%>
  <h1>Create a New Todo</h1>
  <form action="/todo/create" method="POST">
    <label>Name: <input type="text" name="name" required /></label><br />
    <label>Notes: <input type="text" name="notes" required /></label><br />
    <button type="submit">Submit</button>
  </form>
<%- include('header'); -%>
