<%- include('../header'); -%>
<div class="row">
  <div class="col-md-12">
    <h2>Create a New Order</h2>
    <form action="/order/create" method="POST">
      <label>Name: <input type="text" name="customer_name" required  class="form-control" /></label><br />
      <label>Address: <input type="text" name="customer_address" required  class="form-control" /></label><br />

      <label>Pizza Type:
        <select name="pizza" class="form-control" required>
          <option value="">-- Select Pizza --</option>
          <option value="Pepperoni Pizza">Pepperoni Pizza</option>
          <option value="Cheese Pizza">Cheese Pizza</option>
          <option value="Vegan Pizza">Vegan Pizza</option>
          <option value="Meat Lovers Pizza">Meat Lovers Pizza</option>
        </select>
      </label><br />

      <label>Pizza Size:
        <select name="pizza_size" class="form-control" required>
          <option value="">-- Select Size --</option>
          <option value="S">Small</option>
          <option value="M">Medium</option>
          <option value="L">Large</option>
        </select>
      </label><br />

      <label>Drink:
        <select name="drink" class="form-control">
          <option value="">-- Select Drink --</option>
          <option value="Coke">Coke</option>
          <option value="Sprite">Sprite</option>
          <option value="Dr. Pepper">Dr. Pepper</option>
          <option value="Water">Water</option>
        </select>
      </label><br />

      <label>Drink Size:
        <select name="drink_size" class="form-control">
          <option value="">-- Select Size --</option>
          <option value="S">Small</option>
          <option value="M">Medium</option>
          <option value="L">Large</option>
        </select>
      </label><br />

      <button type="submit" class="btn btn btn-success mt-2">Submit</button>
      <a href="/order" class="btn btn btn-danger mt-2">Cancel</a>
    </form>
  </div>
</div>
<%- include('../footer'); -%>
